body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.header-container {
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 100;
  position: relative;
}

.sidebar {
  z-index: 100;
  margin: 100px 0 0;
  top: 0;
  bottom: 0;
  position: absolute;
  float: left;
  width: 350px;
  max-width: 100%;
  overflow-y: scroll;
}

.sidebar-list {
  list-style-type: none;
  margin: 5px;
  text-align: left;
}

.input {
  border: 2px solid black;
  font-size: 20px;
}

.map-container {
  float: right;
  width: calc(100vw - 350px);
  height: 100vh;
}
