html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
}

.modal .close-button {
  font-size: 16px;
}

/** Mobile **/
@media only screen and (max-width: 415px) {
  .app {
    display: flex;
    flex-flow: column wrap;
  }

  .header-container {
    font-size: 12px;
    margin: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
  }

  .map-container {
    width: 100%;
    height: 350px;
    position: relative;
  }

  .map {
    width: 100vw;
    height: 400px;
  }

  .sidebar {
    width: 100%;
    position: relative;
    overflow: scroll;
    margin: 20px;
    text-align: left;
  }

  .input-container {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }

  .input {
    width: 80%;
  }

  .sidebar-list {
    position: relative;
    line-height: 1.8;
    list-style-type: none;
    text-align: left;
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 25% auto;
    border: 1px solid #000;
    width: 80%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }
}

/** Desktop/Tablets **/
@media only screen and (min-width: 416px)  {
  .app {
    display: flex;
    flex-flow: column;
  }

  .header-container {
    width: 100%;
    top: 0;
    position: sticky;
    text-align: center;
  }

  .map-container {
    float: right;
    width: 65%;
    height: 100vh;
  }

  .sidebar {
    float: left;
    width: 35%;
    position: absolute;
    top: 80px;
  }

  .input-container {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }

  .input {
    width: 80%;
  }

  .sidebar-list {
    position: relative;
    line-height: 1.8;
    list-style-type: none;
    text-align: left;
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15% auto;
    border: 1px solid #000;
    width: 70%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
  }
}
